{% extends 'base.html' %}


{% block content %}
<div class='row text-center py-3 d-none'>
    <div class='col'>
        <h2>
            Welcome to TweetMe!
        </h2>
    </div>
</div>

<div class='row mb-3 d-none'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='tweet-create-form' method='POST' action='/create-tweet'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='tweet-create-form-error'>

            </div>
            <input type='hidden' value='/' name='next' />
            <textarea class='form-control' required='required' name='content' placeholder='Your Tweet...'></textarea>
            <button type='submit' class='btn btn-primary'>Tweet!</button>
        </form>
    </div>
</div>

<div id='tweetme'></div>

<script>
const tweetsContainerElement = document.getElementById("tweets");
const tweetCreateFormEl = document.getElementById("tweet-create-form")
const myErrorDiv = document.getElementById("tweet-create-form-error");

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function loadTweets(tweetsElement) {
    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const url = "/tweets";
    const responseType = "json";

    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function() {
        const serverResponse = xhr.response;
        const listedItems = serverResponse;
        let finalTweetStr = "";
        let i;
        for (i=0; i < listedItems.length; i++) {
            var tweetObj = listedItems[i];
            var currentItem = formatTweetElement(tweetObj);
            finalTweetStr += currentItem;
        }
        tweetsElement.innerHTML = finalTweetStr;
    }
    xhr.send();
};

loadTweets(tweetsContainerElement);

function handleTweetAction(tweet_id, currentCount, action) {
    const url = "api/tweets/action";
    const method = "POST";
    const data = JSON.stringify({
        id: tweet_id,
        action: action,
    });
    const xhr = new XMLHttpRequest();
    const csrftoken = getCookie('csrftoken');
    xhr.open(method, url);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = function() {
        loadTweets(tweetsContainerElement);
    }
    xhr.send(data);
    return
}

function RetweetBtn(tweet) {
    return "<button class='btn btn-outline-success btn-sm' onclick=handleTweetAction("+ tweet.id + "," + tweet.likes + ",'retweet')>Retweet</button>"
}

function UnLikeBtn(tweet) {
    return "<button class='btn btn-outline-primary btn-sm' onclick=handleTweetAction("+ tweet.id + "," + tweet.likes + ",'unlike')>Unlike</button>"
}

function LikeBtn(tweet) {
    return "<button class='btn btn-primary btn-sm' onclick=handleTweetAction("+ tweet.id + "," + tweet.likes + ",'like'" + ")>" + tweet.likes + " Like</button>"
}

function formatTweetElement(tweet) {
    var formattedTweet = "<div class='mb-4 col-12 col-md-10 mx-auto border rounded py-3' id='tweet-" + tweet.id + " '><h1>" + tweet.id + "</h1>" + "<p>" + tweet.content + "</p><div class='btn-group'>" + LikeBtn(tweet) + UnLikeBtn(tweet) + RetweetBtn(tweet) +"</div></div>";
    return formattedTweet;
}

function handleTweetCreateFormDidSubmit(e) {
    e.preventDefault();
    const myForm = e.target;
    const myFormData = new FormData(myForm);
    const url = myForm.getAttribute("action");
    const method = myForm.getAttribute("method");
    const xhr = new XMLHttpRequest();
    const responseType = "json";
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.onload = function() {
        if(xhr.status === 201) {
            handleTweetFormError("", false)
            const newTweetJson = xhr.response;
            const newTweetElement = formatTweetElement(newTweetJson);
            const ogHtml = tweetsContainerElement.innerHTML;
            tweetsContainerElement.innerHTML = newTweetElement + ogHtml;
            myForm.reset();
        } else if (xhr.status === 400) {
            const errorJson = xhr.response;
            const contentError = errorJson.content;
            let contentErrorMsg;
            if(contentError) {
                contentErrorMsg = contentError[0];
                if(contentErrorMsg) {
                    handleTweetFormError(contentErrorMsg, true)
                } else  {
                    alert("An error occured. Please try again!")
                }
            } else {
                alert("Another error occured. Please try again!")
            }
        } else if (xhr.status === 401) {
            alert("You must login.");
            window.location.href = "/login";
        } else if (xhr.status === 403) {
            alert("You must login.");
            window.location.href = "/login";
        } else if (xhr.status === 500) {
            alert("There was a server error, please try again.")
        }
    }
    xhr.onerror = function() {
        alert('This tweet is to long!')
    }
    xhr.send(myFormData);
}

function handleTweetFormError(msg, display) {
    if (display === true) {
        // show error
        myErrorDiv.setAttribute("class", "alert alert-danger")
        myErrorDiv.innerText = msg
    } else {
        // hide error
        myErrorDiv.setAttribute("class", "d-none alert alert-danger")
    }
}

tweetCreateFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit)

</script>

{% endblock content %}

